.catalog-promo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: $main-border;
    margin-bottom: 58px;
}

.catalog-promo__wrapper{
    box-sizing: border-box;
    padding: $main-padding;

    @include container;
}

.catalog-promo__title {
  margin: 23px 0;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
}

.catalog-promo__info{
  padding: 30px;
}

.catalog-promo__text{
  font-size: 14px;
  margin-bottom: 28px;
}
