.contacts {
  width: auto;
  margin-bottom: 40px;
  p {
    display: flex;

    margin-bottom: 38px;

    line-height: 30px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    span {
      padding-top: 27px;
    }
  }
}

.contacts__item-mail {
  padding-top: 25px;

  border-bottom: 1px solid #62D1BA;
}

.contacts__item-adress {
    width: 70%;
    padding-right: 40px;
    box-sizing: border-box;
}
.contacts__title h2 {
  font-size: 18px;
}

.contacts__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.contacts__flag {
  display: none;
}

.contacts__map {
  overflow: hidden;

  margin-bottom: 31px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;

  background-position: 50%;
  min-height: 456px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/map-mobile@2x.jpg") no-repeat;
    background-position: 50%;
    background-size: 320px 456px;
  }
  iframe {
    border: 0;
  }
}

@media (min-width: 750px) {
  .contacts {
    margin-bottom: 58px;
  }
  .contacts__wrapper {
    display: flex;

    padding: 0;

    @include container-tablet;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      width: 100%;
      margin-bottom: 14px;
      font-size: 17px;
      line-height: 30px;
      justify-content: flex-start;
    }
    &--btn {
      padding: 0 219px;
    }
  }
  .contacts__title {

    position: relative;
    margin-bottom: 22px;
    width: 100%;
    h2 {
      font-size: 43px;
      line-height: 50px;
    }
    img {
      display: block;
      position: absolute;
      top: -15px;
      right: 4px;
    }
  }
  .contacts__item-field {
    width: 12%;
  }
  .contacts__item-mail {
    width: 31%;
    margin-bottom: 100px;
    margin-right: 46px;
    &:hover {
      color: #46c1ae;
    }
    &:active {
      opacity: 0.3;
    }
  }
  .contacts__item-adress {
    width: 38%;
    padding-right: 71px;
  }
  .contacts__map {
    margin-bottom: 48px;
    background: url("../img/map-tablet@1x.jpg") no-repeat;

    background-position: 130px;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/map-tablet@2x.jpg") no-repeat;
    background-position: 50%;
    background-size: 768px 456px;
  }
  }
  .contacts__btn {
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: flex;
    padding: 60px 0;
    @include container-desktop;
    margin-bottom: 36px;
    flex-wrap: wrap;
    p {
      span {
        padding-top: 0;
      }
    }
  }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 0 0 0 175px;

    justify-content: flex-start;
    &--btn {
      margin: 0;
    }
    p {
      width: 100%;
      padding-right: 50px;
    }
  }
  .contacts__map {
    width: 50%;
    margin-top: 59px;
    margin: 0;
    background: url("../img/map-desktop@1x.jpg") no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../img/map-desktop@2x.jpg") no-repeat;
    background-size: 525px 456px;
  }
  }
  .contacts__title {
    margin-bottom: -6px;
    h2 {
      margin-top: 75px;
      margin-bottom: 50px;

      font-size: 53px;
      line-height: 57px;
    }
    img {
      top: 65px;
      left: -112px;
    }
  }
  .contacts__item-field {
    width: 22%;
  }
  .contacts__item-mail {
    width: 55%;
    padding: 0 15px 0 0;
    margin: 0 0 29px 0;

  }
  .contacts__item-adress {
    width: 74%;
    margin: 0;
  }
  .contacts__btn {
    width: 226px;
    margin-top: -60px;
  }
}
