.contacts {
  width: auto;
  margin-bottom: 37px;

  transition-duration: 0.5s;
  p {
    display: flex;

    margin-bottom: 38px;

    line-height: 30px;

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    span {
      padding-top: 27px;
    }
  }
}
.contacts__item-field {
  width: 30%;
}
.contacts__item-mail {
  width: 70%;
  padding-top: 25px;

  border-bottom: 1px solid #62D1BA;
}

.contacts__item-adress {
  box-sizing: border-box;
  width: 70%;
  padding-right: 40px;
}
.contacts__title h2 {
  font-size: 18px;
}

.contacts__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.contacts__flag {
  display: none;
}

.contacts__map {
  overflow: hidden;

  min-height: 456px;
  margin-bottom: 31px;

  background: url('../img/map-mobile@1x.jpg') no-repeat;
  background-position: 50%;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url('../img/map-mobile@2x.jpg') no-repeat;
    background-position: 50%;
    background-size: 320px 456px;
  }
  iframe {
    width: 100%;

    border: 0;
  }
}

@media (min-width: 750px) {
  .contacts {
    @include container-tablet;

    margin-bottom: 58px;
  }
  .contacts__wrapper {
    display: flex;

    width: 100%;
    padding: 0 50px;

    @include container-tablet;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      width: 100%;
      margin-bottom: 14px;

      font-size: 17px;
      line-height: 30px;

      justify-content: flex-start;
    }
    &--btn {
      padding: 0 269px;
    }
  }
  .contacts__title {
    position: relative;

    width: 100%;
    margin-bottom: 22px;
    h2 {
      font-size: 43px;
      line-height: 50px;
    }
    img {
      position: absolute;
      top: -15px;
      right: 4px;

      display: block;
    }
  }
  .contacts__item-field {
    width: 12%;
  }
  .contacts__item-mail {
    width: 31%;
    margin-right: 46px;
    margin-bottom: 100px;
    &:hover {
      color: #46C1AE;
    }
    &:active {
      opacity: 0.3;
    }
  }
  .contacts__item-adress {
    width: 38%;
    padding-right: 0;
  }
  .contacts__map {
    margin-bottom: 48px;

    background: url('../img/map-tablet@1x.jpg') no-repeat;
    background-position: 50%;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url('../img/map-tablet@2x.jpg') no-repeat;
      background-position: 50%;
      background-size: 768px 456px;
    }
  }
  .contacts__btn {
    width: 100%;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: flex;

    padding-top: 59px;

    @include container-desktop;
    margin-bottom: 97px;
    flex-wrap: wrap;
    p {
      padding-right: 0;
      span {
        padding-top: 0;
      }
    }
  }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding: 0 0 0 222px;

    justify-content: flex-start;
    &--btn {
      margin: 0;
    }
    p {
      width: 100%;
      padding-right: 50px;
    }
  }
  .contacts__map {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding-right: 50px;

    background: url('../img/map-desktop@1x.jpg') no-repeat;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url('../img/map-desktop@2x.jpg') no-repeat;
      background-size: 525px 456px;
    }
  }
  .contacts__title {
    h2 {
      margin-top: 70px;
      margin-bottom: 26px;

      font-size: 53px;
      line-height: 57px;
    }
    img {
      top: 65px;
      left: -112px;
    }
  }
  .contacts__item-field {
    width: 22%;
  }
  .contacts__item-mail {
    width: 55%;
    margin: 0 0 29px 0;
    padding: 0 15px 0 0;
  }
  .contacts__item-adress {
    width: 74%;
    margin: 0;
  }
  .contacts__btn {
    width: 226px;
    margin-top: -60px;
    margin-left: 3px;
  }
}
