@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  border-top: 1px solid #ECECEC;
  a {
    padding: 27px 0 27px 60px;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &--hide {
    display: none;
  }
}

.main-nav__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.main-nav {
  width: 100%;
  &--closed {
    display: none;
  }
  &--opened {
    display: block;
  }
  &--nojs {
    display: block;
  }
}
@media (max-width: 750px) {
  .main-nav {
    &--nojs {
      display: block;
    }
    &--opened {
      display: block;
      position: absolute;
      background-color: #ffffff;
      top: 79px;
      left: 0;
      z-index: 100;
    }
  }
}
@media (min-width: 750px) {
  .main-nav {
    display: block;
    -webkit-box-ordinal-group: 31;
    -ms-flex-order: 30;
    order: 30;
    z-index: 10;
  }
  .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .main-nav__item {
    border: 0;
    &:nth-child(2) {
      a {
        padding-left: 4px;
      }
    }
    a {
      padding: 17px 32px 23px 0;

      font-size: 15px;
    }
    span {
      padding: 20px 0 20px 45px;

      font-size: 15px;
      font-weight: normal;
    }
  }
}

@media (min-width:1150px) {
  .main-nav {
    width: 40%;

    -webkit-box-ordinal-group: 11;

    -ms-flex-order: 10;

    order: 10;
  }
  .main-nav__item {
    box-sizing: border-box;
    width: 46%;
    a {
      padding: 32px 0 33px 0;

      font-size: 17px;
    }
    &--hide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      a {
        padding-top: 20px;

        font-size: 15px;
      }
    }
    &:first-child {
      border-right: 1px solid #ECECEC;
    }
    &:nth-child(2n) {
      a {
        padding-left: 27px;
      }
    }
  }

}
