.main {
  width: auto;
}

.main-form__wrapper {
  @include container;
  width: 260px;
}

.main-form {
  display: flex;
  flex-wrap: wrap;
}

.main-form__title{
  margin-bottom: 30px;
  padding: 73px 0;

  background-color: $bg-grey;
}

.main-form__description{
  margin-bottom: 24px;
}

.main-form__slogan{
  font-size: 14px;
  line-height: 24px;
}

.main-form__fieldset{
  margin-bottom: 30px;
}

.main-form__fieldset-title{
  font-size: 16px;
  text-transform: uppercase;
  color: $main-cyan;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    height: 1px;
    width: 200px;
    background-color: $main-cyan;
  }
}

.main-form__filter {
  padding-left: 60px;
  &--text {
    padding: 0;
  }
  label {
    position: relative;
    font-size: 17px;
    line-height: 18px;
    font-weight: 600;
  }
}

.main-form__filter-radio,
.main-form__filter-checkbox{
  &::before {
    position: absolute;
    content: "";
    width: 37px;
    height: 37px;
    left: -60px;
    top: -7px;
    border: 2px solid #444444;
  }
  &::after{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: -48px;
    top: 5px;
    background-color: $main-cyan;
    border-radius: 50%;
  }
}

.main-form__filter-radio{
  &::before{
    border-radius: 50%;
  }
}

.main-form__filter-checkbox {
    &::after{
    height: 37px;
    width: 37px;
    border-radius: 0;
    background-color: transparent;
    background-image: url(../../img/icon-tick.svg);
    background-repeat: no-repeat;
    background-size: calc(70%);
    left: -52px;
    top: 5px;
  }
}
.main-form__filter-item{
  padding: 15px 0;
  input,
  textarea {
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #111111;
    width: 100%;
    font-size: 17px;
    line-height: 28px;
    outline: none;
  }
  textarea {
    border: 2px solid #111111;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}

.main-form__required-field {
  margin-bottom: 30px;
}

.main-form__btn {
  width: 100%;
  background-color: #ffffff;
}

.main-form__filter input[type=checkbox],
 .main-form__filter input[type=radio] {
  display: none;
 }
