@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.main-nav__item{
  display: flex;
  border-top: 1px solid #ECECEC;

  a{
    padding: 27px 0 27px 60px;
  }
}

.main-nav__wrapper{
  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.main-nav{
  width: 100%;
  &--closed{
    // display: none;
  }
}

@media (min-width: 750px) {
  .main-nav {
    position: absolute;
    top: 84px;
    left: 20px;
    order: 10;
    width: 100%;
  }
  .main-nav__items {
    display: flex;
    justify-content: flex-start;
  }
  .main-nav__item {
    a {
      padding-left: 55px;
    }
    span {
      padding: 27px 0 27px 120px;
      font-weight: normal;
    }
  }
}
