.main-catalog {
  position: relative;

  width: auto;
  margin-top: 29px;

  background-color: $bg-white;
}

.main-catalog__wrapper {
  position: relative;

  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.main-catalog__items {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}

.main-catalog__item {
  display: flex;

  margin-bottom: 30px;

  border: $main-border;

  flex-wrap: wrap;
  &:last-child {
    margin-bottom: 27px;
  }
  &:hover {
    .main-catalog__item-text {
      transition: all 0.2s;

      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
  &:active {
    .main-catalog__item-text {
      transition: all 0.2s;

      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.main-catalog__item-picture {
  line-height: 0;
  img {
    vertical-align: middle;
    width: 260px;
    height: 195px;
  }
}

.main-catalog__item-text {
  width: 100%;
  padding: 27px 27px;
  &:hover {
    transition: all 0.3s;

    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }
  &:active {
    transition: all 0.2s;

    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.main-catalog__item-title {
  display: block;

  padding-bottom: 20px;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-catalog__item-title h2 {
  font-size: 17px;
  line-height: 24px;
}

.main-catalog__item-features {
  font-size: 13px;
}

.main-catalog__item-buy {
  position: relative;

  padding-top: 24px;

  font-weight: bold;
  line-height: 24px;

  border-top: $main-border;
}
.main-catalog__item-price {
  font-size: 15px;
  font-weight: bold;
}
.main-catalog__item-basket {
  &:hover {
    svg {
      fill: #6DD4BF;
    }
  }
  &:active {
    svg {
      opacity: 0.6;
    }
  }
}
.main-catalog__icon-cart {
  position: absolute;
  top: 50%;
  right: 0;

  fill: #D3D2D2;
}

@media (min-width: 750px) {
  .main-catalog {
    width: 100%;
    margin: 68px auto 23px;
  }
  .main-catalog__wrapper {
    width: 768px;
    padding: 0 50px;
  }
  .main-catalog__items {
    display: flex;
  }
  .main-catalog__item {
    display: flex;

    width: 100%;
    margin-bottom: 54px;
    &:last-child {
      margin-bottom: 51px;
    }
  }
  .main-catalog__item-text {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 50%;
    padding: 26px 32px 27px 28px;

    justify-content: space-between;
  }
  .main-catalog__item-picture {
    box-sizing: border-box;
    width: 50%;
    img {
      width: 100%;
      height: 333px;
    }
  }
  .main-catalog__item-title h2 {
    margin-bottom: 4px;
    padding-right: 35px;

    font-size: 20px;
  }
  .main-catalog__item-buy {
    padding-top: 22px;
    padding-left: 5px;
  }
  .main-catalog__item-features {
    font-size: 15px;
  }
  .main-catalog__item-price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .main-catalog {
    margin-top: 124px;
    margin-bottom: 104px;
  }
  .main-catalog__wrapper {
    padding: 0 50px;

    @include container-desktop;
  }
  .main-catalog__items {
    margin-bottom: 59px;

    align-items: stretch;
    justify-content: space-between;
  }
  .main-catalog__item {
    width: 30%;
    margin: 0;
    &:last-child {
      margin: 0;
      .main-catalog__item-text {
        padding-top: 25px;
      }
    }
  }
  .main-catalog__item-picture {
    width: 100%;
    img {
      width: 100%;
      height: 462px;
    }
  }
  .main-catalog__item-title {
    padding-bottom: 14px;
    h2 {
      padding-right: 30px;
    }
  }
  .main-catalog__item-text {
    width: 100%;
    padding: 0 27px 23px 27px;
  }
  .main-catalog__item-buy {
    padding-left: 0;
  }
  .main-catalog__icon-cart {
    top: 20px;
    right: 5px;
  }
}
