.main {
  width: auto;
}

.main-form__wrapper {
  @include container;
}

.main-form {
  @include container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 55px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-form__title {
  margin-bottom: 21px;
  padding: 69px 0 78px 0;

  background-color: $bg-grey;
}

.main-form__fieldset-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-direction: column;

  width: 260px;
  margin: 0 auto;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.main-form__description {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-form__slogan {
  font-size: 13px;
  line-height: 24px;
}

.main-form__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 13px;
  &--client-contacts,
  &--phone,
  &--mail {
    margin-bottom: 0;
  }
}

.main-form__fieldset-title {
  position: relative;

  margin-bottom: 26px;

  font-size: 17px;

  text-transform: uppercase;

  color: $main-cyan;
  &--color,
  &--phone,
  &--mail {
    margin-bottom: 5px;
  }
  &--client-message {
    margin-bottom: 18px;
  }
  &::before {
    position: absolute;
    top: 50%;
    right: 0;

    width: 198px;
    height: 1px;

    content: '';

    background-color: $main-cyan;
  }
}

.main-form__filter-item {
  position: relative;
  margin-bottom: 23px;

  line-height: 17px;
  &--color {
    margin-bottom: 0;
    padding: 21.5px 0;
  }
  &--client-message {
    margin-bottom: 5px;
  }
  input,
  textarea {
    position: relative;
    width: 100%;
    padding: 10px 0;

    font-size: 17px;
    line-height: 28px;

    resize: none;

    border: none;
    border-bottom: 2px solid #111111;
    outline: none;
    &::-webkit-input-placeholder {
      color: #d6d6d6;
    }
    &::-moz-placeholder {
      color: #d6d6d6;
    }
    &:-ms-input-placeholder {
      color: #d6d6d6;
    }
    &::placeholder {
      color: #d6d6d6;
    }
    &:hover,
    &:active,
    &:focus {
      border-bottom: 2px solid #46C1AE;
      &+svg {
        fill: #46C1AE;
      }
    }
    &:focus {
      &::-webkit-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.7s ease;
        transition: opacity 0.7s ease;
      }
      &::-moz-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.7s ease;
        transition: opacity 0.7s ease;
      }
      &:-ms-input-placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.7s ease;
        transition: opacity 0.7s ease;
      }
      &::placeholder {
        opacity: 0;
        -webkit-transition: opacity 0.7s ease;
        transition: opacity 0.7s ease;
      }
    }
  }
  textarea {
    box-sizing: border-box;
    padding: 10px 20px;

    line-height: 24px;

    border: 2px solid #111111;
    &:hover,
    &:focus {
      border: 2px solid #46C1AE;
    }
  }
}

.main-form__input-icon {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 28px;
  height: 30px;
  fill: #cccccc;
}
.main-form__filter {
  padding-left: 60px;
  &--text {
    padding: 0;
  }
  label {
    position: relative;

    font-size: 17px;
    font-weight: 600;
    line-height: 18px;
  }
}

.main-form__filter-radio,
.main-form__filter-checkbox {
  &::before {
    position: absolute;
    top: -7px;
    left: -60px;

    width: 37px;
    height: 37px;

    content: '';

    border: 2px solid #444444;
  }
  &::after {
    position: absolute;
    top: 5px;
    left: -47.5px;

    display: none;

    width: 16px;
    height: 16px;

    content: '';

    border-radius: 50%;
    background-color: $main-cyan;
  }
  &:hover {
    &::before {
      border: 2px solid #46C1AE;
    }
  }
  &:active {
    &::before {
      border: 2px solid #C7C7C7;
    }
  }
}

.main-form__filter-radio {
  &::before {
    border-radius: 50%;
  }
}

.main-form__filter-checkbox {
  &::after {
    top: 1px;
    left: -54px;

    display: none;

    width: 29px;
    height: 35px;

    border-radius: 0;
    background-color: transparent;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

input[type='radio']:checked + label::after,
input[type='checkbox']:checked + label::after {
  display: block;
}

.main-form__required-field {
  margin-bottom: 24px;
  font-size: 14px;
}

.main-form__btn {
  width: 100%;

  background-color: #FFFFFF;
}

.main-form__filter input[type=checkbox],
.main-form__filter input[type=radio] {
  display: none;
}

@media (min-width: 750px) {
  .main-form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 26px;
  }
  .main-form__title {
    position: relative;
    margin-bottom: 71px;
    padding: 93px 0 82px 0;

    font-size: 43px;
    line-height: 50px;
    &:after {
      content: "";
      position: absolute;
      bottom: -7px;
      width: 100%;
      height: 23px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 23px;
      transition: all 0.4s;
    }
  }
  .main-form__description {
    margin-bottom: 2px;
    padding: 0 auto;
    width: 768px;
  }
  .main-form__slogan {
    padding: 0 90px 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
  .main-form__fieldset-wrapper {
    width: 668px;
    margin: 0 auto;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    &--wrap {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
  }
  .main-form__fieldset-title {
    width: 25%;
    margin-bottom: 0;

    -ms-flex-item-align: baseline;

        align-self: baseline;
    &--client-message {
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    &::before {
      display: none;
    }
  }
  .main-form__fieldset {
    margin-bottom: 0;
    padding: 54px 50px 6px 50px;
    &--color,
    &--phone,
    &--mail {
      background-color: $bg-grey;
    }
    &--color {
      padding: 32px 50px 41px 50px;
    }
    &--client-contacts {
      padding: 57px 50px 9px 50px;
      h2 {
        align-self: stretch;
        line-height: 27px;
      }
    }
    &--phone {
      padding-bottom: 0;
    }
    &--mail {
      padding-top: 0;
    }
  }
  .main-form__filter {
    width: 75%;

    -ms-flex-item-align: baseline;

        align-self: baseline;
    &--color {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    &--color,
    &--type {
      padding-left: 80px;
    }
    label {
      font-size: 19px;
    }
  }
  .main-form__filter-item {
    margin-bottom: 60px;
    &--color {
      width: 40%;
      margin-bottom: 0;
      padding: 29.5px 0;
    }
  }
  .main-form__filter-item {
    &--phone input,
    &--mail input {
      box-sizing: border-box;
      padding: 0 0 10px 20px;

      background-color: $bg-grey;
    }
    &--phone {
      margin-bottom: 24px;
      padding: 0;
    }
    &--name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      margin-bottom: 37px;
      padding: 0;

      font-weight: 600;
      label,
      input {
        font-size: 19px;
        line-height: 28px;
      }
      input {
        padding: 0 0 10px 20px;
      }
      label {
        padding-right: 25px;
      }
    }
    &--mail {
      margin-bottom: 39px;
    }
    &--client-message {
      margin-bottom: 51px;
    }
  }
  .main-form__input-icon {
    top: -6px;
    right: 23px;
    width: 32px;
    height: 31px;
  }
  .main-form__filter-radio {
    padding-left: 20px;
  }
  .main-form__submit-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row-reverse;

    width: 100%;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    button {
      box-sizing: border-box;
      width: 34.5%;
      height: 51px;
    }
  }
  .main-form__required-field {
    font-size: 17px;
    line-height: 30px;
  }
  .main-form__filter-checkbox {
    padding-left: 20px;
  }
  .main-form__filter-radio::before,
  .main-form__filter-checkbox::before {
    width: 47px;
    height: 47px;
  }
  .main-form__filter-radio::after {
    top: 8px;
    left: -44px;

    width: 20px;
    height: 20px;
  }
  .main-form__filter-checkbox::after {
    top: 7px;
    left: -50px;

    width: 33px;
  }
}

@media (min-width: 1150px) {
  .main-form {
    margin-bottom: 22px;
  }
  .main-form__title {
    margin-bottom: 125px;
    padding: 93px 0 100px 0;
    &:after {
      background-size: auto 32px;
    }
    h1 {
      font-size: 53px;
      line-height: 57px;
    }
  }
  .main-form__description {
    width: 707px;
  }
  .main-form__slogan {
    padding: 0 50px 0 0px;
  }
  .main-form__fieldset {
    padding: 54px 113px 6px;
    &--color {
      padding: 33px 113px 39px;
    }
    &--client-contacts {
      padding: 60px 113px 11px;
    }
    &--phone {
      padding: 50px 113px 0px;
    }
    &--mail {
          padding: 2px 113px 11px;
    }
  }
  .main-form__fieldset-wrapper {
    box-sizing: border-box;
    width: 988px;
  }
  .main-form__fieldset-title {
    box-sizing: border-box;
    width: 9%;
  }
  .main-form__filter {
    box-sizing: border-box;
    width: 88%;
    &--text {
      padding: 0 145px 0 19px;
    }
  }
  .main-form__filter-item {
    &--color {
      width: 33%;
    }
    &--client-message {
      margin-bottom: 47px;
    }
    textarea {
      font-size: 19px;
    }
  }
  .main-form__fieldset-wrapper--wrap {
    h2 {
      -ms-flex-item-align: inherit;
          -ms-grid-row-align: inherit;
          align-self: inherit;
    }
  }
  .main-form__submit-area {
    padding-right: 192px;
    padding-left: 109px;
    button {
      width: 33.5%;
    }
  }
}
