@import 'utils/mixins.scss';
@import 'utils/variables.scss';


.page-header {
  width: auto;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  border-bottom: 1px solid #ECECEC;
  background-color: $bg-white;
}

.page-header__wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @include container;
}

.page-header__logo {
  width: 100%;
  margin-top: 23px;
  margin-bottom: 15px;

  text-align: center;
  &:hover {
    opacity: 0.6;
    transition: all 0.2s;
  }
  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  position: absolute;
  z-index: 100;
  top: 28px;
  right: 30px;

  display: block;

  width: 22px;
  height: 22px;

  font-size: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background-image: url(../img/icon-menu-close.svg);
  background-color: #FFFFFF;

  background-repeat: no-repeat;
  background-position: center;
  &--active {
    background-image: url(../img/icon-menu-close.svg);
  }

  &--unactive {
    background-image: url(../img/icon-menu-open.svg);
  }
}

.page-header__delivery {
  &--hide {
    display: none;
  }
}

.user-block {
  width: 100%;
  &--closed {
      display: none;
    }
  &--nojs {
      display: block;
  }
}
@media (max-width: 750px) {
  .user-block {
    &--nojs {
      display: block;
    }
    &--opened {
      display: block;
      position: absolute;
      background-color: #ffffff;
      top: 237px;
      left: 0;
      z-index: 100;
    }
  }
}
.user-block__item {
  position: relative;
  border-top: 1px solid #ECECEC;
  a {
    display: block;

    padding: 27px 0 27px 60px;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
      transition: all 0.2s;
      svg {
        fill: #63d1bb;
      }
    }
    &:active {
      opacity: 0.6;
    }
  }
}

.user-block__icon-search {
  position: absolute;
  left: 18px;
  top: 30px;
  fill: #d3d2d2;
}
.user-block__icon-cart {
  position: absolute;
  left: 18px;
  top: 30px;
  fill: #d3d2d2;
}

@media (min-width: 750px) {
  .page-header {
    width: 100%;
    margin: auto;
  }
  .page-header__wrapper {
    position: relative;
    width: 768px;
    box-sizing: border-box;
    padding: 0 33px 0 50px;

    margin-bottom: -65px;
  }
  .page-header__logo {
    box-sizing: border-box;
    width: 46%;

    text-align: left;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .page-header__toggle {
    display: none;
  }
  .page-header__delivery {
    &--hide {
      position: absolute;
      top: 106px;
      right: 43px;

      display: block;

      font-size: 15px;
      font-weight: normal;
      line-height: 24px;
    }
  }
  .user-block {
    display: block;
    box-sizing: border-box;
    width: 53.5%;
    -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
            order: 20;
  }
  .user-block__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    a {
      padding: 31px 30px 33px 0;
    }
    .user-block__item {
      border: 0;
      border-left: 1px solid #ECECEC;
      &--search {
        box-sizing: border-box;
        width: 24%;
      }
      &--busket {
        box-sizing: border-box;
        width: 76%;

        text-align: right;
      }
    }
  }
  .user-block__item--search {
    a {
      font-size: 0;
    }
  }
  .user-block__icon-search,
  .user-block__icon-cart {
  left: 31px;
  top: 35px;
  }
  .user-block__icon-search {
    width: 22px;
  }
}

@media (min-width: 1150px) {
  .page-header {
    width: 100%;
    margin: auto;
  }
  .page-header__wrapper {
    width: 1150px;
    margin-bottom: -78px;
    padding: 0 50px;
  }
  .page-header__logo {
    width: 25%;
    margin: 0;
    padding-top: 6px;
    padding-right: 65px;
    text-align: center;

    -webkit-box-ordinal-group: 21;

        -ms-flex-order: 20;

            order: 20;
  }
  .user-block {
    width: 33.5%;

    -webkit-box-ordinal-group: 31;

        -ms-flex-order: 30;

            order: 30;
  }
  .user-block__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    a {
      width: 100%;
      padding: 32px 16px 34px 0;
    }
  }
  .page-header__delivery {
    -webkit-box-ordinal-group: 41;
        -ms-flex-order: 40;
            order: 40;
  }
  .main-nav__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
