.page-footer {
  width: auto;

  background-color: #F1F1F1;
}

.page-footer__wrapper {
  box-sizing: border-box;
  padding: $main-padding;

  @include container;
}

.page-footer__logo {
  &--hide {
    display: none;
  }
}

.developer-logo {
  display: flex;
}
.page-footer__logo-link,
.social-link a,
.developer-logo {
  &:hover {
    fill: #46c1ae;
    transition: 0.2s;
  }
  &:active {
    opacity: 0.3;
  }
}

.developer-logo {
  fill: #63d1bb;
}

.page-footer__social {
  padding: 27px 62px 19px 56px;

  border-bottom: 1px solid #E5E5E5;
}

.footer__developer {
  display: flex;

  padding: 22px 20px;

  justify-content: space-around;
  span {
    padding-right: 30px;
    font-size: 19px;
    font-weight: bold;
    line-height: 30px;
  }
}

@media (min-width: 750px) {
  .page-footer__wrapper {
    padding: 52px 0 43px 0;
    @include container-tablet;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-footer__logo--hide {
    display: flex;
  }
  .page-footer__logo {
    width: 33%;
    box-sizing: border-box;
  }
  .page-footer__social {
    width: 34%;
    box-sizing: border-box;
    border: none;
  }
  .footer__developer {
    width: 33%;
    box-sizing: border-box;
    justify-content: flex-end;
    span {
      padding-right: 30px;
    }
  }
  .page-footer__logo,
  .page-footer__social,
  .footer__developer {
    padding: 0;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    @include container-desktop;
  }
}
