@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.preview {
  position: relative;
  display: flex;

  width: 100%;
  margin: 0 auto;

  background-color: #F9F9F9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;

  flex-wrap: wrap;
  transition-duration: 0.5s;
  transition-timing-function: ease-in, ease, linear;
  &:after {
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
    transition: all 0.4s;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: auto 373px;
  }
}

.preview__title {
    width: 100%;
    padding: 71px 22px 121px;

    font-weight: bold;

      h1 {
        width: 260px;
        margin: 0 auto;
      }
}

.preview__list-wrapper {
  width: 100%;
  margin: 0 auto;
}

.preview__list li {
  @include container;
}
.preview__item {
  a {
    position: relative;
    display: block;

    padding: 26px 29px 29px 29px;

    font-size: 19px;
    font-weight: bold;
    line-height: 24px;

    text-decoration: none;

    color: $bg-white;
    transition: all 0.4s;
    &:hover {
      transform: translateY(-5px);
      background-color: #59d5bc;
      transition: all 0.4s;
    }
    &:active {
      opacity: 0.3;
      transition: all 0.4s;
    }
  }
  &--interior {
    background-color: $main-cyan;
  }
  &--toy {
    background-color: $main-darkcyan;
    a:hover {
      background-color: #46c1ae;
      transition: all 0.2s
    }
  }
}

.preview__icon {
  position: absolute;
  top: 21px;
  right: 24px;
  fill: #3bb09d;
}

@media (min-width: 750px) {
  .preview {

    margin-bottom: 14px;
    width: 100%;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center -2px;
    &:after {
    content: "";
  }
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
          background-size: auto 746px;
    }
  }
  .preview__title {
      margin-bottom: 252px;
      padding-top: 152px;
      h1 {
        width: 500px;
    }
  }
  .preview__list {
    display: flex;
    li {
      width: 50%;
    }
  }

  .preview__list-wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 0 34px 0 50px;
  }
  .preview__item {
    a {
      font-size: 20px;
      line-height: 28px;
      padding: 29.5px 30px 37px 37px;
    }
  }
  .preview__icon {
    top: 30px;
    right: 29px;
  }
}


@media (min-width: 1150px) {
  .preview {
    margin-bottom: 6px;
    &:after {
      bottom: -10px;
      background-size: auto 32px;
    }
  }
  .preview__title {
    margin-bottom: 239px;
    h1 {
      width: 600px;
      font-size: 53px;
      line-height: 57px;
    }
  }
  .preview__list-wrapper {
    @include container-desktop;
  }
  .preview__list {
    li {
      a {
        padding: 27.5px 36px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
