@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.preview {
  display: flex;

  width: 100%;
  margin: 0 auto;

  background-color: #F9F9F9;
  background-image: url('../../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center top;

  flex-wrap: wrap;
}

.preview__title {
    width: 100%;
    padding: 71px 40px 121px 40px;

    font-weight: bold;

      h1 {
        width: 260px;
        margin: 0 auto;
      }
}

.preview__list-wrapper {
  width: 100%;
  margin: 0 auto;
}

.preview__list li {
  @include container;
  a {
    display: block;

    padding: 27.5px 30px;

    font-size: 19px;
    font-weight: bold;
    line-height: 24px;

    text-decoration: none;

    color: $bg-white;
  }
}
.preview__item {
  a {
    &:active {
      opacity: 0.3;
    }
  }
}
.preview__item--interior {
  background-color: $main-cyan;
}

.preview__item--toy {
  background-color: $main-darkcyan;
}


@media (min-width: 750px) {
  .preview {

    margin-bottom: 34px;
    width: 100%;

    background-size: cover;
  }
  .preview__title {
      margin-bottom: 252px;
      padding-top: 154px;
      h1 {
        width: 500px;
    }
  }
  .preview__list {
    display: flex;
    li {
      width: 50%;
    }
  }

  .preview__list-wrapper {
    @include container-tablet;
  }
}

@media (min-width: 1150px) {
  .preview {
    margin-bottom: 6px;
  }
  .preview__title {
    margin-bottom: 237px;
    h1 {
      width: 600px;
      font-size: 53px;
      line-height: 57px;
    }
  }
  .preview__list-wrapper {
    @include container-desktop;
  }
  .preview__list {
    li {
      a {
        padding: 27.5px 36px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
