@import 'utils/mixins.scss';
@import 'utils/variables.scss';

.products {
  position: relative;

  width: auto;
  margin-bottom: 69px;

  transition-timing-function: ease-in,ease,linear;
  transition-duration: 0.5s;
  &:after {
    position: absolute;
    bottom: -53px;

    width: 100%;
    height: 18px;

    content: '';
    transition: all 0.4s;

    background-image: url(../img/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-size: auto 6px;
  }
}

.products__wrapper {
  @include container;
}

.products__item {
  display: flex;

  padding: 0 30px;

  flex-wrap: wrap;
  p {
    margin-bottom: 17px;
    padding-right: 10px;
  }
}

.products__title {
  padding: 27px 0 23px 0;

  text-align: left;
  b {
    display: block;

    padding-top: 5px;

    font-size: 17px;
    line-height: 20px;

    text-align: left;
    text-transform: uppercase;

    color: $main-cyan;
  }
}

.products__features {
  width: 100%;
  margin-bottom: 31px;

  line-height: 30px;
  line-height: 21px;

  border-collapse: collapse;
  td {
    padding: 9px 0;

    border-bottom: 1px solid #ECECEC;
    &:nth-child(2n) {
      padding-left: 16px;
    }
  }
}

.products__picture {
  margin-bottom: 12px;
}

.products__item-buy {
  width: 100%;
}

.products__price {
  display: inline-block;

  width: 100%;
  margin-bottom: 26px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;

  color: #444444;
}

@media (min-width: 750px) {
  .products {
    margin-bottom: 97px;
    &:after {
      height: 22px;

      background-size: auto 16px;
    }
  }
  .products__wrapper {
    @include container-tablet;
  }
  .products__item {
    padding: 0 50px;

    justify-content: space-between;
    p {
      margin-bottom: 36px;
      padding-right: 0;

      font-size: 17px;
      line-height: 30px;
    }
  }
  .products__title {
    display: flex;

    width: 100%;
    margin-bottom: 35px;
    padding-right: 30px;

    order: 10;
    justify-content: space-between;
    b {
      width: 10%;
      padding-top: 11px;

      line-height: 17px;

      text-align: center;
    }
  }
  .products__description-wrapper {
    width: 43%;
    margin-top: -9px;
    padding-right: 20px;

    order: 20;
  }
  .products__features {
    td {
      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }
  .products__picture {
    width: 50%;

    order: 30;
  }
  .products__item-buy {
    width: 44%;
    margin-top: -133px;

    order: 50;
  }
  .products__price {
    margin-bottom: 34px;

    font-size: 20px;
  }
}

@media (min-width: 1150px) {
  .products {
    margin-bottom: 156px;
    &:after {
      bottom: -72px;

      background-size: auto 23px;
    }
  }
  .products__item {
    position: relative;

    flex-direction: column;

    padding: 100px 50px 0 50px;
    p {
      margin-bottom: 46px;
    }
  }
  .products__wrapper {
    @include container-desktop;
  }
  .products__description-wrapper {
    box-sizing: border-box;
    width: 50%;
    padding-right: 58px;
    padding-left: 175px;
  }
  .products__title {
    flex-direction: row-reverse;

    padding-top: 21px;
    padding-left: 30px;

    font-size: 53px;
    line-height: 57px;

    justify-content: flex-end;
    align-items: center;
    b {
      padding-right: 36px;
    }
  }
  .products__description {
    font-size: 17px;
    line-height: 30px;
  }
  .products__features {
    td {
      padding: 9px 0 11px 0;
      &:nth-child(2n) {
        padding-left: 0;
      }
    }
  }
  .products__picture {
    position: absolute;
    z-index: -1;
    top: 68px;
    right: 50px;

    width: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .products__item-buy {
    box-sizing: border-box;
    width: 49.5%;
    margin-top: 73px;
    padding-right: 58px;
    padding-left: 175px;
    a {
      width: 100%;
    }
  }
  .products__price {
    padding-left: 6px;
  }
}
