
.reviews {
  position: relative;

  width: auto;
  margin-bottom: 87px;

  transition-duration: 0.5s;
  p {
    margin-bottom: 24px;

    font-weight: 400;
    line-height: 30px;

    color: #444444;
  }
  &:after {
    position: absolute;
    bottom: -67px;

    width: 100%;
    height: 23px;

    content: '';
    transition: all 0.4s;

    background-image: url('../img/bg-zigzag-line.svg');
    background-repeat: repeat-x;
    background-size: auto 6px;
  }
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.reviews__author {
  margin-bottom: 30px;
}
.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.reviews__slider-contorls {
  margin-bottom: 38px;
}

.reviews__slider-contorls {
  display: flex;
}

.reviews__btn {
  width: 130px;
  height: 50px;

  cursor: pointer;

  border: 1px solid #ECECEC;
  outline: none;
  background-color: #FFFFFF;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  &--prev {
    border-right: 0;
    background: url('../img/icon-left-arrow.svg') no-repeat;
    background-position: center;
  }
  &--next {
    background: url('../img/icon-right-arrow.svg') no-repeat;
    background-position: center;
  }
}

@media (min-width: 750px) {
  .reviews {
    margin-bottom: 82px;
    &:after {
      bottom: -27px;

      height: 22px;

      background-size: auto 16px;
    }
  }
  .reviews__wrapper {
    display: flex;

    width: 768px;
    margin: 0 auto;
    padding: 77px 50px;

    background: url('../img/review@1x.jpg') no-repeat;

    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url('../img/review@2x.jpg') no-repeat;
      background-size: 350px auto;
    }
  }
  .reviews__title {
    margin-bottom: 49px;

    order: 10;
  }
  .reviews__btn-write {
    width: 171px;

    order: 20;
  }
  .reviews__item {
    margin-bottom: 31px;

    order: 30;
    p {
      font-size: 17px;
      line-height: 30px;
    }
  }
  .reviews__author {
    width: 45%;

    align-self: flex-start;
    order: 40;
  }
  .reviews__slider-contorls {
    box-sizing: border-box;
    width: 26%;
    padding-top: 3px;

    order: 50;
    -ms-flex-order: 50;
    order: 50;
  }
  .reviews__btn {
    border: none;
  }
}

@media (min-width: 1150px) {
  .reviews {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 86px;
    &:after {
      bottom: -72px;

      background-size: auto 23px;
    }
  }
  .reviews__wrapper {
    box-sizing: border-box;
    width: 1050px;
    padding: 70px 0 80px 172px;

    align-items: flex-start;
  }
  .reviews__title {
    margin-bottom: 49px;

    font-size: 53px;
    line-height: 57px;
  }
  .reviews__item {
    margin-bottom: 36px;
    p {
      margin: 0;
      padding-right: 100px;
    }
  }
  .reviews__author {
    box-sizing: border-box;
    padding-right: 100px;
  }
  .reviews__slider-contorls {
    width: 20%;
  }
  .reviews__btn-write {
    margin-top: 9px;
  }
}
