
.reviews {
  width: auto;
  margin-bottom: 87px;
  p {
    padding-right: 11px;
    margin-bottom: 24px;

    font-weight: 400;
    line-height: 30px;

    color: #444444;
  }
}

.reviews__title {
  margin-bottom: 24px;
}

.reviews__wrapper {
  box-sizing: border-box;
  padding: 0 30px;

  @include container;
}

.reviews__author {
  margin-bottom: 30px;
}
.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}

.reviews__slider-contorls {
  margin-bottom: 38px;
}

.reviews__slider-contorls {
  display: flex;
}

.reviews__btn {
  width: 130px;
  height: 50px;

  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
}

.reviews__btn-prev {
  border-right: 0;
}

@media (min-width: 750px) {
  .reviews__wrapper {
    display: flex;

    width: 768px;
    margin: 0 auto;
    padding: 75px 0 75px 50px;

    background: url('../../img/review@1x.jpg') no-repeat;

    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reviews__title {
    margin-bottom: 49px;
    order: 10;
  }
  .reviews__btn-write {
    width: 171px;

    order: 20;
  }
  .reviews__item {
    margin-bottom: 31px;
    order: 30;
    p {
      padding-right: 110px;
      font-size: 17px;
      line-height: 30px;
    }
  }
  .reviews__author {
    width: 45%;

    align-self: flex-start;
    order: 40;
  }
  .reviews__slider-contorls {
    order: 50;
  }
}

@media (min-width: 1150px) {
  .reviews__wrapper {
    box-sizing: border-box;
    padding: 70px 0 80px 175px;

    @include container-desktop;
    align-items: flex-start;
  }
  .reviews__title {
    margin-bottom: 49px;

    font-size: 53px;
    line-height: 57px;
  }
  .reviews__item {
    margin-bottom: 36px;
    p {
      padding-right: 135px;
      margin: 0;
    }
  }
  .reviews__author {
    box-sizing: border-box;
    padding-right: 100px;
  }
}
