.btn{
    display: block;

    padding: 14px 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #444444;
    border: 2px solid #444444;
}
