.social-links {
  display: flex;

  justify-content: space-between;
  padding: 27px 62px 19px 56px;
  border-bottom: 1px solid #e5e5e5;
}

.social-links__icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 750px) {
  .social-links {
    width: 22%;
    padding: 8px 16px 0 6px;
  }
}

@media (min-width: 1150px) {
  .social-links {
    width: 14%;
    padding: 15px 9px 7px 0;
  }
}
