.social-links {
  display: flex;

  justify-content: space-between;
}

.social-links__icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 750px) {
  .social-links {
    padding: 8px 44px 0px 41px;
  }
}

@media (min-width: 1150px) {
  .social-links {
    padding: 11px 107px;
  }
}
