@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;

  src: url('../fonts/Open Sans.eot');
  src: url('../fonts/Open Sans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open Sans.woff2') format('woff2'),
  url('../fonts/Open Sans.woff') format('woff'),
  url('../fonts/Open Sans.svg#Open Sans') format('svg');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;

  src: url('../fonts/Open Sans Bold.eot');
  src: url('../fonts/Open Sans Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Open Sans Bold.woff2') format('woff2'),
  url('../fonts/Open Sans Bold.woff') format('woff'),
  url('../fonts/Open Sans Bold.svg#Open Sans Bold') format('svg');
  unicode-range: U+0020-007E;
}
